extends layout 
block content 
    article.container 
        .item.center 
            h1= title 
            h2= descripcion 
            h3 
                a(href="/") Volver al Inicio 
    footer 
        p
            small FrankCipriano